<h1> Welcome to ToDoApp</h1>

<%if !user_signed_in? %>
<br>
<%= link_to "Login to continue..", user_session_path, class:"nav-link "%>
<br>
<h3>New User? </h3>
<br>
<%= link_to "Create new Account", new_user_registration_path,class:"nav-link" %>
<br>
<%else%>
<div class="card" style="width: 18rem;">
	<div class="card-img-top">
	<%=image_tag("tick.jpg") %>
	</div>
<h5 class="card-title">show pending task</h5>
<%= link_to "click here" , pending_task_path, class:"card-link" %>
</div>
<%end%>
<!-- <div class="float-sm-end">
<%=image_tag("tick.jpg") %>
</div> -->